<configuration>

	<property name="log.path" value="./yylog"></property>
	<property name="log.context" value="yy"></property>
	<property name="eslog.path" value="./eslog"></property>
    <property name="eslog.name" value="eslog"></property>
	<property name="log.file.yy.all" value="yy_all"></property>

	<!-- 设置上下文名称后,可以方便地区分来自不同应用程序的记录 -->
	<contextName>${log.context}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%X{trace_id}][%class.%method:%line]:%m%n</pattern>
		</encoder>
	</appender>

	<appender name="ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/%d{yyyy/MM/dd/HH/mm,aux}/%d{yyyyMMddHHmm}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%X{trace_id}][%class.%method:%line]:%m%n</pattern>
		</encoder>
	</appender>

    <appender name="esappender" class="syamwu.xchushi.easylog.logback.XcsLogbackAppender">
        <fileName>conf/xcs.properties</fileName>
    </appender>
    
    <appender name="esappenderlog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
            <fileNamePattern>easylog/easylog-%d{yyyy-MM-dd}.%i.log</fileNamePattern> 
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
                <maxFileSize>30MB</maxFileSize> 
            </timeBasedFileNamingAndTriggeringPolicy> 
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%X{trace_id}][%class.%method:%line]:%m%n</pattern>
        </encoder>
    </appender>
    


	<!--打印任意包日志 -->
	<root level="INFO">
	     <appender-ref ref="STDOUT" />
		<appender-ref ref="esappender" />
		<appender-ref ref="ALL" />
	</root>
	
   <!-- <logger name="com.test.springboot.controller" level="INFO" additivity="false">
        <appender-ref ref="xcslog" />
    </logger> -->

    <logger name="okhttp3" level="INFO" additivity="false"/>
    
    <logger name="org.apache.ibatis" level="DEBUG" />
    <logger name="org.mybatis" level="DEBUG" />
    <logger name="org.mybatis.spring" level="DEBUG" />
    
    <logger name="syamwu.easylog" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="esappenderlog" />
    </logger>

</configuration>
