<configuration>

	<property name="log.path" value="./yylog"></property>
	<property name="log.context" value="yy"></property>
	<property name="log.file.yy.all" value="yy_all"></property>

	<!-- 设置上下文名称后,可以方便地区分来自不同应用程序的记录 -->
	<contextName>${log.context}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%class.%method:%line]:%m%n</pattern>
		</encoder>
	</appender>

	<appender name="ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/%d{yyyy/MM/dd/HH/mm,aux}/%d{yyyyMMddHHmm}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%class.%method:%line]:%m%n</pattern>
		</encoder>
	</appender>

	<appender name="xcslog" class="com.xchushi.fw.log.logback.XcsLogbackAppender">
		<fileName>conf/xcs.properties</fileName>
	</appender>


	<!--打印任意包日志 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ALL" />
		<appender-ref ref="xcslog" />
	</root>
	
   <!-- <logger name="com.test.springboot.controller" level="INFO" additivity="false">
        <appender-ref ref="xcslog" />
    </logger> -->


</configuration>
